* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #3f3f5a;
}

/* Styling the navbar: */
.header {
    background-color: #2a2a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 10px;
    width: 100%;
    position: fixed;
}

.nav-bar {
    list-style-type: none;
    overflow: hidden;
}

#navbar-li {
    float: left;
    align-items: center;
    transition: all 0.3s;
}

#navbar-li a {
    display: block;
    padding: 20px 60px;
    text-decoration: none;
    font-size: 1.5em;
    color: #d9d9d9;
}

#navbar-li:hover {
    scale: 1.4;
}

/* Styling the home (or welcome section): */
.home {
    padding-top: 80px;
    background: linear-gradient(to bottom right, #545478, #34344b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

#image {
    border-radius: 50%;
    height: 300px;
    border: 5px solid black; 
}

.profile-pic {
    padding-right: 50px;
}

.information {
    padding-left: 50px;
}

.technologies {
    list-style: none;
    display: flex;
}

.technologies li {
    padding-bottom: 10px;
    size: 27.5px;
    flex-direction: row;
}

.list-element {
    padding-right: 100px;
}

.orange-text {
    color: #ff8000;
}

.images {
    list-style: none;
    display: flex;
    padding-top: 50px;
}

.list-image {
    height: 80px;
    width: auto;
    padding-right: 100px;
    flex-direction: row;
}

/* Styling the projects section: */
.projects {
    height: 100vh;
    background: linear-gradient(to top right, #005266, #002933);
    /* background: linear-gradient(to top right, #595959, #404040); */
    padding-top: 80px;
    border-top: 2px solid #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects h2 {
    size: 35px;
    padding: 30px;
}

.project-image {
    height: 250px;
    width: auto;
}

.project-list li {
    list-style: none;
    padding: 10px;
    justify-content: center;
    display: flex;
    float: left;
}

.project-list a {
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
}

.project-title {
    text-align: center;
}

.project-list-li:hover span {
    color: #ff8000;
}

/* Styling the contact section: */
.contact {
    height: 100vh;
    padding-top: 80px;
    display: flex;
    background: linear-gradient(to right, #008080, #004d4d);
    border-top: 2px solid #808080;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact h3 {
    font-size: 30px;
    padding: 0 0 50px 0;
}

.contact-list {
    list-style: none;
}

.contact-list li {
    float: left;
    padding: 0 60px 0 60px;
    display: flex;
}

.contact-list a {
    text-decoration: none;
    padding: 10px;
}

.contact-image {
    height: 100px;
    width: auto;
}

.contact-title {
    text-align: center;
    padding-top: 15px;
}

.contact-list li:hover p {
    color: #ff8000;
}

@media only screen and (max-width: 1080px) {
    .projects {
        height: 150vh;
    }
    
    .project-list li {
        float: none;
    }
}

@media only screen and (max-width: 940px) {
    .home  {
        flex-direction: column;
        height: 140vh;
    }
    #image {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 660px) {
    #navbar-li a {
        padding: 0 15px 0 15px;
    }   
}