---
import Layout from "../layouts/Layout.astro";
---

<Layout title="GO HANNI" desc="">
  <h1>GO HANNI</h1>
  <img src="https://i.pinimg.com/564x/77/58/68/775868148f34397a4934e504cc73a5b8.jpg" alt="Go hanni" class="size-6">
</Layout>