---
import Badge from "../components/Badge.astro";
import Github from "../components/logos/Github.astro";
import Linkedin from "../components/logos/Linkedin.astro";
import Links from "../components/Links.astro";
import Layout from "../layouts/Layout.astro";
import ExpItem from "../components/ExpItem.astro";
import Section from "../components/Section.astro";
import Plane from "../components/logos/Plane.astro";
---

<Layout title="Web developer and Programmer" desc="Meet Joel Faldín, an Informatics student focused on web development.">
	<main>
		<Section class="pt-40 pb-20">

			<h1 class="text-white text-5xl font-bold pb-2">
				Hello there, I'm <span class="bg-gradient-to-r from-blue-400 to-white bg-clip-text text-transparent">Joel Faldín</span>!
			</h1>
			<a href="https://www.linkedin.com/in/joel-faldín/" target="_blank" rel="noopener noreferrer">
				<Badge>Open to work</Badge>
			</a>
			<h2 class="text-xl opacity-90 pt-7 pb-5 text-wrap">University student, web developer from <span class="bg-gradient-to-r from-red-400 to-blue-400 bg-clip-text text-transparent font-bold">Chile</span> 🇨🇱. Focused on creating web applications.</h2>
			
			<nav class="flex gap-x-4">
				<Links href="https://github.com/JoelFaldin">
					<Github class="size-6" />
					Github
				</Links>
				<Links href="https://www.linkedin.com/in/joel-faldín/">
					<Linkedin class="size-6" />
					LinkedIn
				</Links>
			</nav>
		</Section>

		<Section>
			<h1 class="text-white text-3xl font-bold pb-5 flex gap-x-4 items-center">
				<Plane class="size-12" />
				Experience
			</h1>

			<div class="flex flex-col gap-y-5">
				<ExpItem expTitle="Freelance" date="march 2024 - today" place="Independent">
					<span class="flex flex-col gap-y-2">
						<p>Worked alongside a team of <span class="text-cyan-500">incredible people</span>, developing a web application for a real client as a part of the requirements for a university subject.</p>
						<p>Mainly worked on the <span class="text-cyan-500 text-bold">backend</span> side, where a RESTful api was built using express and MySQL.</p>
						<p>For the frontend, we used React with Vite, Typescript and TailwindCSS.</p>
					</span>
				</ExpItem>
				<ExpItem expTitle="Internship" date="jan 2024 - march 2024" place="Municipalidad de Iquique">
					<span class="flex flex-col gap-y-2">
						<p>Developed a <span class="text-cyan-500 text-bold">full stack project</span> using React, Typescript and TailwindCSS for the frontend. In the backend side, we used JavaScript and NodeJS to make a RESTful api, using the <span class="underline">Express</span> library and MongoDB.</p>
						<p>This was my first time building a backend project, and everything went smoothly.</p>
					</span>
				</ExpItem>
			</div>
		</Section>
	</main>
</Layout>
