---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Badge from "@/components/Badge.astro";
import BadgeShine from "@/components/BadgeShine.astro";
import Email from "@/components/logos/Email.astro";
import ExpItem from "@/components/ExpItem.astro";
import Github from "@/components/logos/Github.astro";
import Linkedin from "@/components/logos/Linkedin.astro";
import Plane from "@/components/logos/Plane.astro";
import Section from "@/components/Section.astro";
import Tools from "@/components/logos/Tools.astro";
import Moon from "@/components/logos/Moon.astro";
import CV from "@/components/logos/CV.astro";
import Projects from "@/components/Projects.astro";
---

<Layout title="Web developer and Programmer" desc="Meet Joel Faldín, an Informatics student focused on web development.">
	<main class="px-6">
		<Section class="pt-40 flex flex-col lg:flex-row justify-center h-fit py-10">
			<section class="w-full lg:w-1/2 mx-auto justify-center">
				<img
					id="home"
					src="/portfolio-web/images/ProfilePic.webp"
					alt="Profile picture"
					class="rounded-full min-w-fit h-[20rem] mb-16 lg:mb-5 mx-auto shadow-2xl border border-blue-600/50"
					height="320"
					width="320"
				>
			</section>
			<section class="w-full lg:w-1/2 mx-auto">
				<h1 class="text-white text-4xl font-bold pb-4 md:pb-2">
					Hello there, I'm <span class="bg-gradient-to-r from-cyan-500 to-white bg-clip-text text-transparent">Joel Faldín</span>!
				</h1>
				<a href="https://www.linkedin.com/in/joel-faldín/" target="_blank" rel="noopener noreferrer">
					<Badge>
						Open to work
					</Badge>
				</a>
				<p class="text-xl md:text-2xl opacity-90 pt-7 pb-5 text-wrap w-full">University student and web developer from Chile! 🥟</p>
				
				<nav class="flex flex-col sm:flex-row gap-y-5 w-fit gap-x-4 text-wrap">
					<BadgeShine class="flex flex-row gap-x-2" href="https://github.com/JoelFaldin">
						<Github class="size-6" />
						Github
					</BadgeShine>
					<BadgeShine class="flex flex-row gap-x-2" href="https://www.linkedin.com/in/joel-faldín/">
						<Linkedin class="size-5" />
						LinkedIn
					</BadgeShine>
					<BadgeShine class="flex flex-row gap-x-2" href="mailto:joelfaldin@gmail.com">
						<Email class="size-6" />
						Contact me
					</BadgeShine>
				</nav>
	
				<BadgeShine class="gap-x-2 mt-5" href="/portfolio-web/cv_joelf.pdf" download>
					<CV class="size-6" />
					Download my CV
				</BadgeShine>
			</section>
		</Section>

		<Section class="py-10" id="experience">
			<h1 class="text-white text-3xl font-bold pb-5 flex gap-x-4 items-center">
				<Plane class="size-8" />
				Experience
			</h1>

			<div class="flex flex-col gap-y-5 w-full">
				<ExpItem expTitle="Internship" date="jan 2024 - march 2024" place="Municipalidad de Iquique">
					<span class="flex flex-col gap-y-2">
						<p>Worked on a <span class="text-cyan-500 text-bold">full stack project</span> using React, Typescript and TailwindCSS for the frontend. In the backend side, we used JavaScript and NodeJS to make a RESTful API, using the <span class="underline">Express</span> library and MongoDB.</p>
						<p>The goal was to get all the user information at easy access to everyone, saving time to the workers by preventing them from requesting the data in person.</p>
						<p>Until this point, I just knew how to build frontend projects using React, so it was my first time building the backend side of a project. I learned a lot there!</p>
					</span>
				</ExpItem>
			</div>
		</Section>

		<Section class="py-10" id="projects">
			<h1 class="text-white text-3xl font-bold pb-5 flex gap-x-4 items-center">
				<Tools class="size-10" />
				My projects
			</h1>

			<Projects />
		</Section>

		<Section class="py-10" id="aboutme">
			<h1 class="text-white text-3xl font-bold pb-5 flex gap-x-4 items-center">
				<Moon class="size-10" />
				About me
			</h1>
			<AboutMe />
		</Section>
	</main>
</Layout>
