---
---
<div class="p-2 border border-[#e6c478]/30 flex flex-col items-center justify-center gap-2 rounded-2xl">
  <slot name="icon" />
  <span class="font-bold text-zinc-300 text-xl">
    <slot name="heading" />
  </span>
  <span class="text-zinc-400 text-center">
    <slot name="content" />
  </span>
</div>