---
import type { languageList } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import Code from "./icons/Code.astro";
import Disc from "./icons/Disc.astro";
import Music from "./icons/Music.astro";
import AboutItem from "./AboutItem.astro";
import Bolt from "./icons/Bolt.astro";
import Users from "./icons/Users.astro";
import Flare from "./icons/Flare.astro";

const currentLang = Astro.currentLocale || 'en';
const translateLabels = useTranslations(currentLang as keyof typeof languageList);
---

<section id="about" class="py-32 bg-[#0f0f1a]">
    <div class="container px-4 mx-auto">
        <div class="w-3/4 mx-auto flex flex-col gap-4">
            <span>
                <h2 class="text-3xl md:text-4xl font-bold mb-4 text-white font-serif flex items-center justify-center">
                    <span class="text-nowrap">{translateLabels("about.h2")}</span>
                    <span class="ml-2 text-[#e6c478]">{translateLabels("about.dev")}</span>                
                </h2>
    
                <div class="h-1 mx-auto w-24 bg-[#e6c478]"></div>
            </span>


            <div class="p-6 border border-[#e6c478]/30 rounded-2xl mx-auto">
                <p class="text-zinc-300 mb-3 leading-relaxed">
                    {translateLabels("about.desc1", {
                        name: <span class="text-[#e6c478]">Joel Faldín</span>,
                        apps: <span class="font-bold">{currentLang === 'en' ? 'Full-Stack applications' : 'Aplicaciones web Full Stack'}</span>,
                    })}
                </p>
                <p class="text-zinc-300 mb-3 leading-relaxed">
                    {translateLabels("about.desc2", {
                        college: <span class="font-bold">{currentLang === 'en' ? 'last year of college' : 'último año de universidad'}</span>,
                        shark: <span class="text-[#e6c478]">BlackSharkWeb</span>
                    })}
                </p>
                <p class="text-zinc-300 leading-relaxed">
                    {translateLabels("about.desc3")}
                </p>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mx-auto">
                <AboutItem>
                    <Code class="w-8 h-8 text-[#e6c478]" slot="icon" />
                    <p slot="heading">{translateLabels("about.heading1")}</p>
                    <p slot="content">{translateLabels("about.content1")}</p>
                </AboutItem>

                <AboutItem>
                    <Bolt class="w-8 h-8 text-[#e6c478]" slot="icon" />
                    <p slot="heading">{translateLabels("about.heading2")}</p>
                    <p slot="content">{translateLabels("about.content2")}</p>
                </AboutItem>

                <AboutItem>
                    <Users class="w-8 h-8 text-[#e6c478]" slot="icon" />
                    <p slot="heading">{translateLabels("about.heading3")}</p>
                    <p slot="content">{translateLabels("about.content3")}</p>
                </AboutItem>

                <AboutItem>
                    <Flare class="w-8 h-8 text-[#e6c478]" slot="icon" />
                    <p slot="heading">{translateLabels("about.heading4")}</p>
                    <p slot="content">{translateLabels("about.content4")}</p>
                </AboutItem>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="p-6 border border-[#e6c478]/30 rounded-2xl w-full">
                    <h3 class="text-[#e6c478] font-bold mb-2">{translateLabels("about.skills")}</h3>
                    <ul class="ml-2 list-disc marker:text-[#e6c478] text-zinc-300 space-y-1">
                        <li>{translateLabels("about.frontend")} (React, Next, Vue, Angular)</li>
                        <li>{translateLabels("about.backend")} (Express, NestJS, Java SpringBoot)</li>
                        <li>{translateLabels("about.databases")} (MySQL, PostgreSQL, SQLite, MongoDB)</li>
                        <li>{translateLabels("about.os")} (Windows, Linux)</li>
                    </ul>
                </div>

                <div class="p-6 border border-[#e6c478]/30 rounded-2xl w-full">
                    <h3 class="text-[#e6c478] font-bold mb-2">{translateLabels("about.langs")}</h3>
                    <ul class="ml-2 list-disc marker:text-[#e6c478] text-zinc-300 space-y-1">
                        <li>TypeScript</li>
                        <li>JavaScript</li>
                        <li>Rust/C</li>
                        <li>Java</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
