---
import ContactForm from "./ContactForm";
import ContactItem from "./ContactItem.astro";
import Email from "./icons/Email.astro";
import Location from "./icons/Location.astro";
import Phone from "./icons/Phone.astro";
import Submit from "./icons/Submit.astro";
import Linkedin from "./icons/Linkedin.astro";

---
<section id="contact" class="py-24 bg-[#0f0f1a]">
    <div class="container mx-auto">
        <h2 class="text-4xl font-bold mb-6 text-white font-serif text-center">
            <span class="text-[#e6c478]">Contact</span> me!
        </h2>
        <p class="text-center text-zinc-300 mb-12 max-w-2xl mx-auto">Do you have a project in mind? Send me a message down below!</p>
    </div>

    <div class="flex flex-col lg:flex-row justify-center gap-x-12 mx-60">
        <section class="xl:w-4/12 flex flex-col bg-[#0a0a14] p-8 rounded-2xl border border-[#e6c478]/20">
            <h3 class="text-xl font-bold text-white mb-6">Get in touch</h3>

            <div class="space-y-6">
                <section class="flex flex-col items-start gap-4">
                    <ContactItem title="Email" content="joelfaldin@gmail.com">
                        <Email class="w-5 h-5" />
                    </ContactItem>
                    <ContactItem title="Phone" content="(+56 9) 7882 4017">
                        <Phone class="w-5 h-5" />
                    </ContactItem>
                    <ContactItem title="Location" content="Chile">
                        <Location class="w-5 h-5" />
                    </ContactItem>
                    <ContactItem title="Linkedin" content="Joel Faldín">
                        <Linkedin class="w-5 h-5" />
                    </ContactItem>
                </section>
            </div>
        </section>

        <section class="xl:w-6/12">
            <ContactForm>
                <Submit class="w-5 h-5 mr-2" />
            </ContactForm>
        </section>
    </div>
    </div>
</section>