---
import Button from '../components/Button.astro'
---

<header class="flex justify-center items-center py-7 w-full xl:w-[1120px] mx-auto">
  <!-- <img src="/images/hanni_pfp.jpeg" alt="Portfolio logo" class="rounded-full w-12 h-12" /> -->

  <nav class="flex flex-row gap-x-10">
    <Button href="/Portfolio-web">Home</Button>
    <Button href="/about">About me</Button>
    <Button href="/projects">Projects</Button>
  </nav>
</header>