---
import logos from "@/logos";

import BadgeShine from "./BadgeShine.astro";
import Globe from "./Globe.astro";
import Github from "./logos/Github.astro";
import Project from "./Project.astro";
---

<section class="flex flex-col md:flex-row gap-x-4 gap-y-6">
  <a href="/portfolio-web/projects/bsw" aria-label="Read more about the BlackSharkWeb project!">
    <Project
      title="BlackSharkWeb"
      description="E-commerce-like web application showcasing different services offered by a graphic designer!"
      techs={[logos.REACT, logos.TYPESCRIPT, logos.EXPRESS, logos.MYSQL]}
    >
      <img
        class="transform transition-transform duration-200 hover:scale-105 border border-slate-600 rounded shadow-2xl shadow-white/10 h-72 w-auto md:h-52 min-w-fit"
        src="/portfolio-web/images/bsw_screenshot.webp"
        height="210"
        width="420"
        alt="Image example of the BlackSharkWeb project"
        slot="image"
      />
      <nav class="flex flex-col sm:flex-row w-fit py-2" slot="buttons">
        <BadgeShine class="flex flex-row gap-x-2" href="https://github.com/IgnacioBarraza/Proyecto_IngenieriaSoftware_SID">
          <Github class="size-6" />
          Github
        </BadgeShine>
        <BadgeShine class="flex flex-row gap-x-2" href="https://blacksharkstudiosweb.web.app">
          <Globe class="size-6" />
          Demo
        </BadgeShine>
      </nav>
    </Project>
  </a>
  <a href="/portfolio-web/projects/user-table" aria-label="Read more about the User Administration Table!">
    <Project
      title="User Administration Table"
      description="Web application displaying user data in a table, with different types of actions you can do!"
      techs={[logos.REACT, logos.TYPESCRIPT, logos.NestJS, logos.Prisma]}
    >
      <img
        class="transform transition-transform duration-200 hover:scale-105 border border-slate-600 rounded shadow-2xl shadow-white/10 h-72 w-auto md:h-52 min-w-fit"
        src="/portfolio-web/images/user_admin_screenshot.webp"
        height="210"
        width="420"
        alt="Admin view of the React User Administration project."
        slot="image"
      />
      <nav class="flex flex-col sm:flex-row w-fit py-2 pointer-events-none" slot="buttons">
        <BadgeShine class="flex flex-row gap-x-2 pointer-events-auto" href="https://github.com/JoelFaldin/React-User-Administration-Frontend">
          <Github class="size-6" />
          Frontend
        </BadgeShine>
        <BadgeShine class="flex flex-row gap-x-2 pointer-events-auto" href="https://github.com/JoelFaldin/React-User-Administration-Backend">
          <Github class="size-6" />
          Backend
        </BadgeShine>
      </nav>
    </Project>
  </a>
</section>