---
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="BlackSharkWeb" desc="Details about the BlackSharkWeb project!">
  <Section class="pt-40 pb-20">
    
  </Section>
</Layout>