---
import BadgeShine from "@/components/BadgeShine.astro";
import Button from "@/components/Button.astro";
import Globe from "@/components/Globe.astro";
import Github from "@/components/logos/Github.astro";
import Layout from "@/layouts/Layout.astro";
import logos from "@/logos";

const technologies = [
  logos.REACT,
  logos.TYPESCRIPT,
  logos.TAILWIND,
  logos.VITE,
  logos.EXPRESS,
  logos.MYSQL
]

const images = [
  "/portfolio-web/images/bsw_gallery/services.webp",
  "/portfolio-web/images/bsw_gallery/gallery.webp",
  "/portfolio-web/images/bsw_gallery/contact.webp",
  "/portfolio-web/images/bsw_gallery/login.webp",
  "/portfolio-web/images/bsw_gallery/collaborations.webp"
]
---

<Layout title="BlackSharkWeb" desc="Details about the BlackSharkWeb project!">
  <section class="pt-40 pb-20 w-full md:w-9/12 mx-auto">
    <h1 class="text-4xl font-bold mb-5 underline">BlackSharkWeb</h1>

    <nav class="flex flex-col md:flex-row gap-y-5 w-fit gap-x-4 text-wrap mb-5">
      <BadgeShine class="flex flex-row gap-x-2" href="https://github.com/IgnacioBarraza/Proyecto_IngenieriaSoftware_SID">
        <Github class="size-6" />
        Github
      </BadgeShine>
      <BadgeShine class="flex flex-row gap-x-2" href="https://blacksharkstudiosweb.web.app">
        <Globe class="size-6" />
        Demo
      </BadgeShine>
    </nav>

    <article class="flex flex-col lg:flex-row gap-x-10 pb-14">
      <section class="w-full lg:w-2/5 text-wrap flex flex-col gap-y-2">
        <p>
          In this project, I was part of a team of awesome people to work on a Full Stack web application for the
          <a class="hover:underline text-cyan-500" href="https://www.instagram.com/blackshark.studios/">BlackSharkStudios</a>
          company.
        </p>
        <p>Some of the main features are:</p>

        <ul class="list-disc space-y-2">
          <li>
            <span class="font-bold">Services</span> page: Displaying all of the services offered by the company. When you click on one of them, it shows a description, price and cameras used.
          </li>
          <li>
            <span class="font-bold">Gallery</span> page: Showcasing the previous work, providing examples for the new customers.
          </li>
          <li>
            <span class="font-bold">Collaborations section:</span> it shows the companies that 
            <a class="hover:underline text-cyan-500" href="https://www.instagram.com/blackshark.studios/">BlackSharkStudios</a>
            has worked with.
          </li>
          <li>
            <span class="font-bold">Login</span> system: We implemented a user management system using JsonWebTokens and password hashing.
          </li>
        </ul>
        
        <p>... among other things!</p>
        <p class="mt-5 text-xl">Technologies used:</p>

        <ul class="flex gap-x-4 flex-row mt-2 mb-2">
          {
            technologies.map(logo => (
              <li>
                <logo.icon class="size-8" />
              </li>
            ))
          }
        </ul>

      </section>
      <section class="w-3/5">
        <img
          src="/portfolio-web/images/bsw_gallery/home.webp"
          alt="Homepage of the BlackSharkWeb project"
          height="350"
          width="700"
          class="shadow-xl border border-cyan-500 h-72 w-auto md:h-[350px] min-w-fit"
        >
      </section>
    </article>

    <article class="mb-10">
      <h2 class="text-3xl font-bold">More images:</h2>

      <section class="grid grid-cols-1 xl:grid-cols-2 gap-4 my-8">
        {
          images.map(pic => (
            <img
              src={pic}
              height="260"
              width="530"
              class="w-fit shadow-2xl"
              alt="Image examples of the BlackSharkWeb pages"
            />
          ))
        }
      </section>
    </article>
  </section>
</Layout>