---
import Button from "@/components/Button.astro";
import Globe from "@/components/Globe.astro";
import Github from "@/components/logos/Github.astro";
import Layout from "@/layouts/Layout.astro";
import logos from "@/logos";

const technologies = [
  logos.REACT,
  logos.TAILWIND,
  logos.VITE,
  logos.EXPRESS,
  logos.MYSQL
]

const images = [
  "/public/images/bsw_gallery/services.png",
  "/public/images/bsw_gallery/gallery.png",
  "/public/images/bsw_gallery/contact.png",
  "/public/images/bsw_gallery/login.png",
  "/public/images/bsw_gallery/collaborations.png"
]
---

<Layout title="BlackSharkWeb" desc="Details about the BlackSharkWeb project!">
  <section class="pt-40 pb-20 w-full md:w-8/12 mx-auto">
    <h1 class="text-4xl font-bold mb-5 underline">BlackSharkWeb</h1>

    <nav class="flex flex-col md:flex-row gap-y-5 w-fit gap-x-4 text-wrap mb-5">
      <Button href="https://github.com/JoelFaldin" target="_blank">
        <Github class="size-6" />
        Github
      </Button>
      <Button>
        <Globe class="size-6" />
        Demo
      </Button>
    </nav>

    <article class="flex flex-row gap-x-10 pb-14">
      <section class="w-2/5 text-wrap flex flex-col gap-y-2">
        <p>
          In this project, I was part of a team to work on a Full Stack web application for the
          <a class="hover:underline text-cyan-500" href="https://www.instagram.com/blackshark.studios/">BlackSharkStudios</a>
          company.
        </p>
        <p>Some of the main features are:</p>

        <ul class="list-disc space-y-2">
          <li>
            <span class="font-bold">Services</span> page: Displaying all of the services offered by the company. When you click on one of them, it shows a description, price and cameras used.
          </li>
          <li>
            <span class="font-bold">Gallery</span> page: Showcasing the previous work, providing examples for the new customers.
          </li>
          <li>
            <span class="font-bold">Collaborations section:</span> it shows the companies that 
            <a class="hover:underline text-cyan-500" href="https://www.instagram.com/blackshark.studios/">BlackSharkStudios</a>
            has worked with.
          </li>
          <li>
            <span class="font-bold">Login</span> system: We implemented a user management system using JsonWebTokens and password hashing.
          </li>
        </ul>
        
        <p>... among other things!</p>

        <ul class="flex gap-x-4 flex-row mt-2 mb-2">
          {
            technologies.map(logo => (
              <li>
              <span>
                <logo.icon class="size-8" />
              </span>
            </li>
            ))
          }
        </ul>

      </section>
      <section class="w-3/5">
        <img
          src="/public/images/bsw_gallery/home.png"
          alt="Homepage of the BlackSharkWeb project"
          class="shadow-xl border border-cyan-500"
        >
      </section>
    </article>

    <article class="mb-10">
      <h2 class="text-3xl font-bold">More images:</h2>

      <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 my-8">
        {
          images.map(pic => (
            <img src={pic} class="w-fit" alt="Captures of the BlackSharkWeb pages" />
          ))
        }
      </section>
    </article>
  </section>
</Layout>