---
import BadgeShine from "@/components/BadgeShine.astro";
import Button from "@/components/Button.astro";
import Github from "@/components/logos/Github.astro";
import Layout from "@/layouts/Layout.astro";
import logos from "@/logos";

const technologies = [
  logos.REACT,
  logos.TYPESCRIPT,
  logos.TAILWIND,
  logos.VITE,
  logos.EXPRESS,
  logos.MONGO
]

const images = [
  "/portfolio-web/images/user_table_gallery/login.webp",
  "/portfolio-web/images/user_table_gallery/user_view.webp",
  "/portfolio-web/images/user_table_gallery/user_creation.webp",
  "/portfolio-web/images/user_table_gallery/excel_management.webp",
  "/portfolio-web/images/user_table_gallery/direction_management.webp"
]
---

<Layout title="User Administration Table" desc="Details about the User Admin. Table project!">
  <section class="pt-40 pb-40 w-full md:w-9/12 mx-auto">
    <h1 class="text-4xl font-bold mb-5 underline">React User Administration</h1>
    
    <nav class="flex flex-col md:flex-row gap-y-5 w-fit gap-x-4 text-wrap mb-5">
      <BadgeShine class="flex flex-row gap-x-2" href="https://github.com/JoelFaldin/React-User-Administration-Frontend">
        <Github class="size-6" />
        Frontend
      </BadgeShine>
      <BadgeShine class="flex flex-row gap-x-2" href="https://github.com/JoelFaldin/React-User-Administration-Backend">
        <Github class="size-6" />
        Backend
      </BadgeShine>
    </nav>

    <article class="flex flex-col lg:flex-row gap-x-10 pb-14">
      <section class="w-full lg:w-2/5 text-wrap flex flex-col gap-y-2">
        <p>I worked on this project in an internship I had in january 2024.</p>
        <p>The goal was to create a <span class="text-cyan-500">web application</span> that could display information about the users (e.g. their phone number and email address), making it accesible to everyone.</p>
        <p>When I started the project, I wanted to use <a href="https://tanstack.com/table/latest" class="text-cyan-500 hover:underline">TanStack Table</a> to handle all of the data in the frontend, but then my boss asked me to use querys to get the data. It was too late to change everything, so I used TanStackTable without all of its benefits. 😢</p>
        <p>This project, among other things, had different views in the frontend depending on if the logged user was an admin or not. The admin had buttons to edit and create data!</p>
        <p>Something interesting I had to implement was a way to upload and download an <span class="text-cyan-500">excel file</span>, and save its data to the database. You can see an image of it below!</p>
        <p class="mt-5 text-xl">Technologies used:</p>

        <ul class="flex gap-x-4 flex-row mt-2 mb-2">
          {
            technologies.map(logo => (
              <li>
                <logo.icon class="size-8" />
              </li>
            ))
          }
        </ul>
      </section>
      <section class="w-3/5">
        <img
          src="/portfolio-web/images/user_admin_screenshot.webp"
          alt="Main view of the User Administration project"
          height="350"
          width="700"
          class="shadow-xl border border-cyan-500 h-72 w-auto md:h-[350px] min-w-fit"
        >
      </section>
    </article>

    <article class="mb-10">
      <h2 class="text-3xl font-bold">More images:</h2>

      <section class="grid grid-cols-1 xl:grid-cols-2 gap-4 my-8">
        {
          images.map(pic => (
            <img
              src={pic}
              height="300"
              width="600"
              class="w-fit shadow-2xl"
              alt="Image examples of the React User Administration project"
            />
          ))
        }
      </section>
    </article>
  </section>
</Layout>