---
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="User Administration Table" desc="Details about the User Admin. Table project!">
  <Section class="pt-40 pb-40">
    
  </Section>
</Layout>