---
import { Toaster } from 'react-hot-toast';

import '@/styles/global.css'

const lang = Astro.currentLocale || 'en';
---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#0a0a14" />
		<title>{lang === 'en' ? "Joel's Porfolio | Web Developer and Programmer" : 'Joel Faldín | Desarrollador Web y Programador'}</title>
	</head>
	<body>
		<Toaster position="bottom-right" reverseOrder={false} client:idle />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}
</style>
